{% load static %}
{% load my_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'moviesite/css/main.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <title>{{ title }}</title>

</head>
<body>
<div class="main_wrapper">
    <aside class="left_aside">
        {% include "moviesite/includes/includes/left_aside.html" %}
    </aside>

    <content>
        <header>
            {% include "moviesite/includes/includes/header.html" %}
        </header>
        <div class="content" id="content">
            {% block content %}
            {% endblock %}
            {% if is_paginated %}
                <div class="paginator_container">
                    {% if page_obj.has_previous %}
                        <a class="page_num page_arrow" href="?page={{ page_obj.previous_page_number }}">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="12" height="12"
                                 fill="none">
                                <path d="M16.041,24,6.534,14.48a3.507,3.507,0,0,1,0-4.948L16.052,0,18.17,2.121,8.652,11.652a.5.5,0,0,0,0,.707l9.506,9.52Z"
                                      fill="currentColor"/>
                            </svg>

                        </a>
                    {% endif %}
                    {% for p in paginator.page_range %}
                        {% if page_obj.number == p %}
                            <a class="page_num page-current" href="?page={{ p }}">{{ p }}</a>
                        {% elif p in page_obj.number|my_range:1 %}
                            <a class="page_num" href="?page={{ p }}">{{ p }}</a>

                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <a class="page_num page_arrow" href="?page={{ page_obj.next_page_number }}">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="12" height="12"
                                 fill="none">
                                <path d="M8.127,24l9.507-9.52a3.507,3.507,0,0,0,0-4.948L8.116,0,6,2.121l9.518,9.531a.5.5,0,0,1,0,.707L6.01,21.879Z"
                                      fill="currentColor"/>
                            </svg>

                        </a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </content>

    <aside class="right_aside" id="right_aside" {% if request.user.is_authenticated %} style="width: 350px" {% endif %}>
        {% include "moviesite/includes/includes/right_aside.html" %}
    </aside>
</div>
<footer>
    {% include "moviesite/includes/includes/footer.html" %}
</footer>
</body>

<script src="{% static 'moviesite/js/main.js' %}"></script>
</html>