asgiref
certifi
charset-normalizer
colorama
colorthief
decorator
Django
djangorestframework
idna
gunicorn
imageio
imageio-ffmpeg
moviepy
numpy
Pillow
proglog
python-decouple
pytz
requests
tqdm
tzdata
urllib3
supervisor
uwsgi