

<div class="header">
    <ul class="nav_item">
        <li class="nav_items"><a href="#" class="link_items">Movies</a></li>
        <li class="nav_items"><a href="#" class="link_items">Series</a></li>
        <li class="nav_items"><a href="#" class="link_items">Tv Shows</a></li>
    </ul>
    <ul class="nav_item">
        <li class="nav_items"><a href="#" class="link_items">+</a></li>
        <li class="nav_items"><a href="#" class="link_items notification">+</a></li>
        <li class="nav_items"><a href="#" class="link_items">+</a></li>
    </ul>

</div>