
:root {
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');
    --primary-color: #151318;
    --secondary-color: #19181E;
    --accent: #E52327;
    --text-color: #ffffff80;
    --main-font: 'Source Sans Pro', sans-serif;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
}

.main_wrapper {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    cursor: pointer;

}

a:focus {
    outline: none;
}
input:focus-visible{
    outline: none;
    border: none;
}

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    height: 70px;
    background: var(--primary-color);
    border-bottom: 1px solid var(--secondary-color);
}

.nav_item {
    display: flex;
    padding: 0;
    margin: 0;
}

.nav_items {
    margin: 0 10px;
}

.link_items {
    font-family: var(--main-font);
    color: var(--text-color);
    font-weight: 400;
    font-size: 14px;
}

.link_items:hover {
    color: white;
}
.btn{
	padding: 6px 25px;
	margin-right: 10px;
	font-family: var(--main-font);
	font-size: 14px;
	font-weight: 500;
	border-radius: 5px;
	color: white;
}
.btn_submit_form{
    border: none;
	background: var(--accent);
	margin-top: 15px;
}

.form{
    margin-top: 70px;
	width: 300px;
    background: var(--secondary-color);
    padding: 20px 20px 40px 20px;
    border-radius: 20px;
}
.form_items{
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
}
.form_label{
	font-family: var(--main-font);
	font-size: 14px;
	font-weight: 500;
	color: var(--text-color);
	margin-bottom: 5px;
}
.form_label_upload{
	font-family: var(--main-font);
	font-size: 14px;
	font-weight: 500;
	color: white;
	margin-bottom: 5px;
	width: 100px;
}
.form-input{
	margin-bottom: 20px;
	height: 25px;
	border: none;
	border-radius: 5px;
	padding-left: 10px;
	font-family: var(--main-font);
	font-size: 14px;
	font-weight: 500;
	color: var(--secondary-color);
}
#password_eye{
    cursor: pointer;
	padding: 0;
	position: absolute;
	display: block;
    border: none;
	height: 21px;
	width: 21px;
	color: var(--secondary-color);
	background: none;
	right: 5px;
	top:calc(50% - 10px);
	z-index: 5;
}
.form_error{
	font-family: var(--main-font);
	font-size: 12px;
	font-weight: 400;
	color: red;
}
.errorlist{
	margin:0 0 20px 0;
	margin-block-start: 0;
	padding-inline-start:0;
}
.form_wrapper{
    display: flex;
    justify-content: center;
    align-content: center;
}
.form_logo{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.avatar_in{
	margin-top: 5px;
	position: relative;
	height: 40px;
	width: 80px;
}
.avatar_in:last-child{
    display: block;
}
input[type="file" i]::-webkit-file-upload-button{
    display: none;
	height: 40px;
	width: 80px;

}
.avatar_in::before{
    cursor: pointer;
	position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
	content: "☺";
	font-family: var(--main-font);
	font-size: 14px;
	font-weight: 400;
    height: 38px;
    width: 97%;
	border: var(--accent) 1px solid;
	border-radius: 10px;
	color: var(--accent);
	top:0;
	left: 0;
}
/*.footer{*/
/*    position: absolute;*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*    height: 50px;*/
/*    background: var(--secondary-color);*/
/*}*/
.left_aside {
    padding-top: 15px;
    width: 75px;
    height: calc(100vh - 15px);
    flex-shrink: 0;
}

content {
    position: relative;
    margin: 0 20px;
    height: 100vh;
    width: calc(100% - 490px);
    flex-grow: 1;
}

.content {
    overflow-y: scroll;
    height: calc(100% - 71px);
    width: 100%;

}

/*--------------------------BURGER---------------------------*/
.burger {
    position: relative;
    height: 2px;
    width: 22px;
    background: white;
}

.burger::after {
    content: '';
    position: absolute;
    display: block;
    height: 2px;
    width: 30px;
    background: inherit;
    left: 0;
    top: -10px;
    transition: 0.3s;
}

.burger::before {
    content: '';
    position: absolute;
    display: block;
    height: 2px;
    width: 30px;
    background: inherit;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

#container_burger:hover .burger::after {
    left: 10px;
    transition: 0.3s;

}

#container_burger:hover .burger::before {
    left: -10px;
    transition: 0.3s;
}

.burger_active {
    position: relative;
    background: var(--accent);
    transition: 0.3s;

}

#container_burger {
    position: absolute;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 30px;
    height: 30px;
    z-index: 20;
    right: 22.5px;
    top: 16.5px;
}

.burger_active::before {
    content: '';
    position: absolute;
    display: block;
    height: 2px;
    background: inherit;
    left: 0;
    bottom: -1px;
    width: 22px;
    transform-origin: center;
    transform: rotatez(45deg);
    transition: 0.3s;
}

.burger_active::after {
    content: '';
    position: absolute;
    display: block;
    height: 2px;
    background: inherit;
    left: 0;
    top: -1px;
    width: 22px;
    transform: rotatez(-45deg);
    transform-origin: center;
    transition: 0.3s;
}

/*--------------------------BURGER---------------------------*/
.right_aside {
    position: relative;
    background: var(--secondary-color);
    width: 75px;
    height: 100vh;
    flex-shrink: 0;
    transition: .3s;
    overflow: hidden;

}

.right_aside_container {
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 85%;
    height: 100%;
}

.profile_data {
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: start;
    align-items: center;
}

.profile_photo {
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.profile_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 15px;
}

.name_user {
    font-family: var(--main-font);
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.email_user {
    font-family: var(--main-font);
    color: white;
    font-size: 11px;
    font-weight: 300;
}

.genre_container {
    width: 100%;
}

.genre_wrapper {
    display: grid;
    position: relative;
    width: 100%;
    gap: 15px 20px;
    grid-template-columns: repeat(2, 1fr);
}

.favorite_container {
    width: 100%;
}

.favorite_wrapper {
    display: grid;
    position: relative;
    width: 100%;
    gap: 15px 20px;
    grid-template-columns: repeat(2, 1fr);
}
.favorite_wrapper_profile {
    display: grid;
    position: relative;
    width: 100%;
    gap: 15px 20px;
    grid-template-columns: repeat(3, 1fr);
}
.favorite {
    display: block;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
    aspect-ratio: 16/9;
}

.see_all_favorite {
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    aspect-ratio: 16/9;
    color: var(--text-color);
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 300;
}

.genre {
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    border-radius: 100px;
    background: var(--primary-color);
    padding: 10px 20px;
}

.genre:hover {
    background: var(--accent);
}

.icon_genre {
    color: white;
}

.genre_name {
    font-family: var(--main-font);
    color: white;
    font-size: 12px;
    font-weight: 300;
}

.login_container {
    width: 100%;
}

.login_wrapper {
    display: grid;
    position: relative;
    width: 100%;
    gap: 15px 20px;
    grid-template-columns: repeat(2, 1fr);
}

.button_log {
    display: flex;
    justify-content: center;
    border-radius: 100px;
    background: var(--primary-color);
    padding: 10px 20px;
    font-family: var(--main-font);
    color: white;
    font-size: 12px;
    font-weight: 300;
    margin-top: 30px;
}

.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.logo_img {
    width: 40px;
    height: 40px;
}

.provider_container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.provider_container::before {
    content: "";
    position: absolute;
    background: var(--text-color);
    height: 2px;
    width: 80%;
    border-radius: 5px;
    bottom: 0;
    left: 10%;


}

.provider {
    position: relative;
    margin: 20px 0;
    padding: 0;
    width: 100%;
}

.provider:hover::after {
    content: "";
    background: var(--accent);
}

.provider::after {
    position: absolute;
    background: var(--primary-color);
    height: 100%;
    width: 3px;
    border-radius: 0 100px 100px 0;
    top: 0;
    left: 0;


}

.img_provider {
    border-radius: 100px;
    height: 40px;
    width: 40px;
}

.provider_ul {
    text-align: center;
    width: 100%;
    padding: 0;
}


.movie_left {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
}

.movie_right {
    display: flex;
    justify-content: end;
    align-items: end;
}

.year_movie {
    margin-bottom: 10px;
    font-family: var(--main-font);
    color: white;
    font-size: 14px;
    font-weight: 500;
}

.movie_rating {
    font-family: var(--main-font);
    color: white;
    font-size: 12px;
    font-weight: 500;
}

.name_movie {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: var(--main-font);
    color: white;
    font-size: 22px;
    font-weight: 700;
}

.button_movie {
    padding: 10px 20px 9px 20px;
    color: white;
    margin-right: 10px;
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 400;
    background: #E5232780;
    border-radius: 15px;
}

.button_ad_movie, .button_delete_movie {
    cursor: pointer;
    padding: 10px 10px 7px 10px;
    color: white;
    font-size: 14px;
    background: #19181E80;
    border-radius: 100px;
}
.favorite_card{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: calc(100% - 50px);
    bottom: 25px;
    right: 25px;
    z-index: 999;
}
.favorite_name{
    position: relative;
    color: white;
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 600;
}
.head_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    width: 100%;
}

.head_block_aside {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 20px 0;
    width: 100%;
}

.block_name_aside {
    position: relative;
    color: var(--text-color);
    font-family: var(--main-font);
    font-size: 12px;
    font-weight: 200;
}

.block_name {
    position: relative;
    color: white;
    font-family: var(--main-font);
    font-size: 18px;
    font-weight: 700;
}

.block_all {
    color: var(--text-color);
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 300;
}

.trending_movies {
    cursor: pointer;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-bottom: 30px;
}

.movie_cover:last-child {
    margin-right: 0;
}

.movie_cover {
    display: inline-block;
    margin-right: 10px;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    height: 282px;
    width: 500px;
    border-radius: 15px;
}

.movie_container {
    display: flex;
    justify-content: start;
    position: relative;
}

.delimiter {
    width: 100%;
    border-bottom: 1px solid var(--secondary-color);
    margin: 40px 0;
}
.movie_wrapper{
    position: relative;
    width: 40%;
    height: max-content;

}
.movie_favorite_wrapper{
    position: relative;
}
.movie_img_container {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40%;
    aspect-ratio: 16/9;
    border-radius: 15px;
}

.movie_data_container {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 40px;
    width: 50%;
}

.description_movie {
    color: #ffffff80;
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 10px;
}

.rating_movie {
    position: relative;
    font-family: var(--main-font);
    color: white;
    font-size: 10px;
    font-weight: 500;
    background: var(--secondary-color);
    padding: 3px 18px 3px 6px;
    border-radius: 15px;
    margin: 10px 0;
}

.rating_movie::before {
    content: "★";
    position: absolute;
    right: 6px;
    top: 1px;
    color: yellow;
    font-size: inherit;
}


.movie_info_card {
    height: calc(100% - 60px);
    width: calc(100% - 60px);
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 30px;
}

.container_art {
    margin-top: 5px;
    width: 100%;
    aspect-ratio: 16/9;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.left_movie_info {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    margin-left: 50px;
    margin-bottom: 100px;
    width: 40%;
}

.name_movie_preview {
    color: white;
    font-family: var(--main-font);
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
}

.year_movie_preview {
    color: white;
    font-family: var(--main-font);
    font-size: 24px;
    font-weight: 600;

}

.actors_movie_preview {
    color: white;
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.description_movie_preview {
    color: white;
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 40px;
}

.director_movie {
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 600;
    color: white;
    margin: 20px 0 0 0;
}

.actors_movie {
    font-family: var(--main-font);
    font-size: 12px;
    font-weight: 400;
    color: white;
    margin: 20px 0;
}

.director_movie_preview {
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 600;
    padding: 10px 50px;
    background: white;
    border-radius: 15px;
}

.rating::before {
    content: "★";
    position: absolute;
    right: -25px;
    top: -2px;
    color: yellow;
    font-size: inherit;
}

.movie_info_button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 15px;

}

.movie_info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    width: 100%;
    height: 100%;
}

.movie_cover_top {
    display: inline-block;
    margin-right: 10px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    height: 250px;
    width: 250px;
    border-radius: 15px;
}

.movie_cover_top:last-child {
    margin-right: 0;
}


.year_movie_top {
    margin-bottom: 5px;
    font-family: var(--main-font);
    color: white;
    font-size: 12px;
    font-weight: 500;
}

.movie_rating_top {
    position: relative;
    font-family: var(--main-font);
    color: white;
    font-size: 10px;
    font-weight: 500;
    background: var(--primary-color);
    padding: 3px 18px 3px 6px;
    border-radius: 15px;
    margin-bottom: 80px;
}

.movie_rating_top::before {
    content: "★";
    position: absolute;
    right: 6px;
    top: 1px;
    color: yellow;
    font-size: inherit;
}

.name_movie_top {
    margin-bottom: 5px;
    font-family: var(--main-font);
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.button_movie_top {
    padding: 10px 20px 9px 20px;
    color: white;
    margin-right: 10px;
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 400;
    background: #E5232780;
    border-radius: 15px;
}

.button_ad_movie_top {
    padding: 10px 10px 7px 10px;
    color: white;
    font-size: 14px;
    background: #19181E80;
    border-radius: 100px;
}

.paginator_container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 40px;

}

.page_arrow {
    border: 1px solid var(--accent);

}

.page-current {
    border: none !important;
    background: #E5232780 !important;
    color: white !important;
    border-radius: 5px !important;
}

.page_num {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 20px;
    font-family: var(--main-font);
    color: var(--text-color);
    font-size: 14px;
    font-weight: 400;
    border: 1px solid var(--secondary-color);
    margin: 0 10px;
}
.profile_wrapper{
	margin: 50px 0;
	position: relative;
	display: flex;
    flex-direction: column ;
	align-items: left;
	width: 100%;
}
.profile_content{
	display: flex;
	justify-content: left;
	width: 100%;
}
.left_content_profile{
	width: 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.img_profile_user{
	border-radius: 100%;
	height: 12vw;
	width: 12vw;
}
.right_content_profile{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: start;
	width: 70%;
}
.user_favorite{
    margin-top: 30px;
    width: 100%;
    position: relative;
}
.info_profile_user{
	display: flex;
	flex-direction: column;
	align-items: start;
}
.user_name_profile, .user_email_profile{
	font-family: var(--main-font);
	font-size: 16px;
	font-weight: 400;
	color: white;
    margin:10px 0;
}
.btn_profile{
	font-family: var(--main-font);
	font-size: 14px;
	font-weight: 400;
	color: var(--text-color);
	padding: 10px 40px;
    background: var(--secondary-color);
	border-radius: 10px;
	margin-top: 40px;
}
.btn_profile:hover{
	background: var(--accent);
    color: white;
}