asgiref
certifi
charset-normalizer
colorama
colorthief
decorator
Django
djangorestframework
idna
imageio
imageio-ffmpeg
moviepy
numpy
Pillow
proglog
python-decouple
pytz
requests
tqdm
tzdata
urllib3
supervisor
uwsgi
psycopg2-binary
boto3
django-storages